myADF21032020/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "myADF21032020"
		},
		"AzureFunction1_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunction1'"
		},
		"AzureMLServiceLS_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'AzureMLServiceLS'"
		},
		"azure_ADLS_Gen2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'azure_ADLS_Gen2'"
		},
		"azure_Databricks_Job_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'azure_Databricks_Job'"
		},
		"dataforbetterhealth_SFTP_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'dataforbetterhealth_SFTP'"
		},
		"ml_workspace_Service_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'ml_workspace_Service'"
		},
		"AzureMLServiceLS_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "43c1f93a-903d-4b23-a4bf-92bd7a150627"
		},
		"AzureMLServiceLS_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "myResourceGroup"
		},
		"AzureMLServiceLS_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "38c02221-4a41-4ec8-b8da-a81f16c38e82"
		},
		"AzureMLServiceLS_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "73b49191-8db3-45ab-87b3-b8f956ac123b"
		},
		"azure_ADLS_Gen2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datalake21032020.dfs.core.windows.net"
		},
		"dataforbetterhealth_SFTP_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "94.143.190.243"
		},
		"dataforbetterhealth_SFTP_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "hackathon"
		},
		"googleDocs_URL_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://docs.google.com"
		},
		"ml_workspace_Service_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "43c1f93a-903d-4b23-a4bf-92bd7a150627"
		},
		"ml_workspace_Service_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "myResourceGroup"
		},
		"ml_workspace_Service_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "38c02221-4a41-4ec8-b8da-a81f16c38e82"
		},
		"ml_workspace_Service_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "73b49191-8db3-45ab-87b3-b8f956ac123b"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "here we test a deployed HTTP triggerable function",
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "https://functionapp21032020.azurewebsites.net",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunction1_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureMLServiceLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMLService",
				"typeProperties": {
					"subscriptionId": "[parameters('AzureMLServiceLS_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('AzureMLServiceLS_properties_typeProperties_resourceGroupName')]",
					"mlWorkspaceName": "machine_learning_workspace",
					"servicePrincipalId": "[parameters('AzureMLServiceLS_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('AzureMLServiceLS_servicePrincipalKey')]"
					},
					"tenant": "[parameters('AzureMLServiceLS_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_ADLS_Gen2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('azure_ADLS_Gen2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('azure_ADLS_Gen2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_Databricks_Job')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "the goal is to start up a cluster, do work and destroy everything again\n",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://westeurope.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('azure_Databricks_Job_accessToken')]"
					},
					"existingClusterId": "0321-175436-nays306"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataforbetterhealth_SFTP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "source dataset from RIZIV via SFTP from there Amazon server",
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('dataforbetterhealth_SFTP_properties_typeProperties_host')]",
					"port": "2222",
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('dataforbetterhealth_SFTP_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('dataforbetterhealth_SFTP_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/googleDocs_URL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('googleDocs_URL_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ml_workspace_Service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMLService",
				"typeProperties": {
					"subscriptionId": "[parameters('ml_workspace_Service_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('ml_workspace_Service_properties_typeProperties_resourceGroupName')]",
					"mlWorkspaceName": "ml_workspace",
					"servicePrincipalId": "[parameters('ml_workspace_Service_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('ml_workspace_Service_servicePrincipalKey')]"
					},
					"tenant": "[parameters('ml_workspace_Service_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_to_blob_pharma_ref_XLSX')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "pharma_ref.xlsx",
						"folderPath": "bronze",
						"fileSystem": "datalake"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_ADLS_Gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_to_blob_reimbcategory_xlsx')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "reimb_category.xlsx",
						"folderPath": "bronze",
						"fileSystem": "datalake"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_ADLS_Gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_ADLS_Bronze_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "bronze/docph",
						"fileSystem": "datalake"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_ADLS_Gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_silver_parquet_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "silver",
						"fileSystem": "datalake"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_ADLS_Gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/delimitedText_docph_from_SFTP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dataforbetterhealth_SFTP",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "DB_V2.TXT",
						"folderPath": "/upload"
					},
					"columnDelimiter": "\t",
					"encodingName": "ISO-8859-1",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "account_yy_ss",
						"type": "String"
					},
					{
						"name": "Province",
						"type": "String"
					},
					{
						"name": "Type",
						"type": "String"
					},
					{
						"name": "hosp_serv_id",
						"type": "String"
					},
					{
						"name": "reimbt_cat_id",
						"type": "String"
					},
					{
						"name": "drug_code",
						"type": "String"
					},
					{
						"name": "realization_date",
						"type": "String"
					},
					{
						"name": "quantity",
						"type": "String"
					},
					{
						"name": "amount_reimb",
						"type": "String"
					},
					{
						"name": "amount_not_reimb",
						"type": "String"
					},
					{
						"name": "Year",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dataforbetterhealth_SFTP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/docph_bronze_parquet_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "DB_V2.parquet",
						"folderPath": "bronze/docph",
						"fileSystem": "datalake"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "account_yy_ss",
						"type": "INT32"
					},
					{
						"name": "province",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "hosp_serv_id",
						"type": "UTF8"
					},
					{
						"name": "reimbt_cat_id",
						"type": "UTF8"
					},
					{
						"name": "drug_code",
						"type": "UTF8"
					},
					{
						"name": "realization_date",
						"type": "UTF8"
					},
					{
						"name": "quantity",
						"type": "UTF8"
					},
					{
						"name": "amount_reimb",
						"type": "FLOAT"
					},
					{
						"name": "amount_not_reimb",
						"type": "FLOAT"
					},
					{
						"name": "year",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_ADLS_Gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/google_xlsx_pharma_ref_binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "googleDocs_URL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "/uc?export=download&id=1RU1LCr3HlAW9VQz2DUDXTf4n96gHaQZ3"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/googleDocs_URL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/google_xlsx_reimbcategory_binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "googleDocs_URL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "/uc?export=download&id=1kO0yJ6QDVsQxOBeR_xDnw2VS28NnbNv2"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/googleDocs_URL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/load_cleaned_spark_dataset_silver_Parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "silver/dataforbetterhealth_parquet",
						"fileSystem": "datalake"
					},
					"compressionCodec": "none"
				},
				"schema": [
					{
						"name": "province",
						"type": "UTF8"
					},
					{
						"name": "hosp_serv_id",
						"type": "UTF8"
					},
					{
						"name": "reimbt_cat_id",
						"type": "UTF8"
					},
					{
						"name": "drug_code",
						"type": "UTF8"
					},
					{
						"name": "realization_date",
						"type": "UTF8"
					},
					{
						"name": "quantity",
						"type": "INT32"
					},
					{
						"name": "amount_reimb",
						"type": "FLOAT"
					},
					{
						"name": "amount_not_reimb",
						"type": "FLOAT"
					},
					{
						"name": "trim_pharma",
						"type": "INT64"
					},
					{
						"name": "produit_pharma",
						"type": "UTF8"
					},
					{
						"name": "type_drug_code",
						"type": "UTF8"
					},
					{
						"name": "famille_produit_pharma",
						"type": "UTF8"
					},
					{
						"name": "drug_name_aggregated",
						"type": "UTF8"
					},
					{
						"name": "conditionnement",
						"type": "UTF8"
					},
					{
						"name": "mode_administration",
						"type": "UTF8"
					},
					{
						"name": "date_debut_rembourse",
						"type": "INT96"
					},
					{
						"name": "statut_produit_pharma",
						"type": "UTF8"
					},
					{
						"name": "code_atc",
						"type": "UTF8"
					},
					{
						"name": "code_atc_5",
						"type": "UTF8"
					},
					{
						"name": "code_atc_4",
						"type": "UTF8"
					},
					{
						"name": "code_atc_3",
						"type": "UTF8"
					},
					{
						"name": "code_atc_1",
						"type": "UTF8"
					},
					{
						"name": "DDD",
						"type": "DOUBLE"
					},
					{
						"name": "nombre_prises",
						"type": "INT64"
					},
					{
						"name": "orphan_flag",
						"type": "INT64"
					},
					{
						"name": "chapter_IV_bis_flag",
						"type": "INT64"
					},
					{
						"name": "link_same_tablet",
						"type": "INT64"
					},
					{
						"name": "dbegin",
						"type": "INT96"
					},
					{
						"name": "dend",
						"type": "INT96"
					},
					{
						"name": "reimbt_cat_desc_nl",
						"type": "UTF8"
					},
					{
						"name": "reimbt_crit_long",
						"type": "UTF8"
					},
					{
						"name": "reimbt_crit_short",
						"type": "UTF8"
					},
					{
						"name": "reimbt_cat_fixed_rate_yn",
						"type": "INT64"
					},
					{
						"name": "fee_cat",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_ADLS_Gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pharmaref_bronze_parquet_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "bronze/pharma_ref_parquet",
						"fileSystem": "datalake"
					},
					"compressionCodec": "none"
				},
				"schema": [
					{
						"name": "trim_pharma",
						"type": "INT64"
					},
					{
						"name": "drug_code",
						"type": "UTF8"
					},
					{
						"name": "produit_pharma",
						"type": "UTF8"
					},
					{
						"name": "type_drug_code",
						"type": "UTF8"
					},
					{
						"name": "famille_produit_pharma",
						"type": "UTF8"
					},
					{
						"name": "drug_name_aggregated",
						"type": "UTF8"
					},
					{
						"name": "nom_produit_pharma",
						"type": "UTF8"
					},
					{
						"name": "conditionnement",
						"type": "UTF8"
					},
					{
						"name": "mode_administration",
						"type": "UTF8"
					},
					{
						"name": "nom_firme_pharma",
						"type": "UTF8"
					},
					{
						"name": "date_debut_rembourse",
						"type": "INT96"
					},
					{
						"name": "statut_produit_pharma",
						"type": "UTF8"
					},
					{
						"name": "code_atc",
						"type": "UTF8"
					},
					{
						"name": "code_atc_5",
						"type": "UTF8"
					},
					{
						"name": "code_atc_4",
						"type": "UTF8"
					},
					{
						"name": "code_atc_3",
						"type": "UTF8"
					},
					{
						"name": "code_atc_1",
						"type": "UTF8"
					},
					{
						"name": "DDD",
						"type": "DOUBLE"
					},
					{
						"name": "nombre_prises",
						"type": "INT64"
					},
					{
						"name": "orphan_flag",
						"type": "INT64"
					},
					{
						"name": "chapter_IV_bis_flag",
						"type": "INT64"
					},
					{
						"name": "link_same_tablet",
						"type": "INT64"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/azure_ADLS_Gen2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_try_out_azureml')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "two_step_pipeline_test",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mlPipelineId": "5a972f89-6d5b-4866-b958-561042ea62de"
						},
						"linkedServiceName": {
							"referenceName": "ml_workspace_Service",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ml_workspace_Service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataforbetterhealth')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_SFTP_to_Blob_schema_parquet",
						"description": "copy data from the FTP server to BlobStorage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "account_yy_ss",
											"type": "Int32"
										},
										"sink": {
											"name": "account_yy_ss",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String"
										},
										"sink": {
											"name": "province",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "hosp_serv_id",
											"type": "String"
										},
										"sink": {
											"name": "hosp_serv_id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "reimbt_cat_id",
											"type": "String"
										},
										"sink": {
											"name": "reimbt_cat_id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "drug_code",
											"type": "String"
										},
										"sink": {
											"name": "drug_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "realization_date",
											"type": "String"
										},
										"sink": {
											"name": "realization_date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "quantity",
											"type": "String"
										},
										"sink": {
											"name": "quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "amount_reimb",
											"type": "Single"
										},
										"sink": {
											"name": "amount_reimb",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "amount_not_reimb",
											"type": "Single"
										},
										"sink": {
											"name": "amount_not_reimb",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "Int32"
										},
										"sink": {
											"name": "year",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "delimitedText_docph_from_SFTP",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "azure_ADLS_Bronze_Parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_googleExcell_to_Blob",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "google_xlsx_pharma_ref_binary",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_to_blob_pharma_ref_XLSX",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "functionApp",
						"description": "",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "HttpTrigger1",
							"method": "POST",
							"headers": {},
							"body": {
								"name": "Kevin Albert"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunction1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ETL_xlsx_to_parquet",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "copy_googleExcell_to_Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_googleXLS_reimbcat_to_Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_SFTP_to_Blob_schema_parquet",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "functionApp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/beire_@hotmail.com/bronze"
						},
						"linkedServiceName": {
							"referenceName": "azure_Databricks_Job",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "copy_googleXLS_reimbcat_to_Blob",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "google_xlsx_reimbcategory_binary",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_to_blob_reimbcategory_xlsx",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Send Success Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "two_step_pipeline_test",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-118.westeurope.logic.azure.com:443/workflows/da9212a12e824a6897017f4aca62df07/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AquLYXQw5yo9Fe8OcPGytvWhbJpUxDJlQaWKGGDIqso",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "Pipeline finished !",
								"ErrorMessage": "The ADF pipeline has run successfully.",
								"EmailTo": "kevin.albert@atos.net"
							}
						}
					},
					{
						"name": "two_step_pipeline_test",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [
							{
								"activity": "ETL_xlsx_to_parquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mlPipelineId": "5a972f89-6d5b-4866-b958-561042ea62de"
						},
						"linkedServiceName": {
							"referenceName": "ml_workspace_Service",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/delimitedText_docph_from_SFTP')]",
				"[concat(variables('factoryId'), '/datasets/azure_ADLS_Bronze_Parquet')]",
				"[concat(variables('factoryId'), '/datasets/google_xlsx_pharma_ref_binary')]",
				"[concat(variables('factoryId'), '/datasets/Binary_to_blob_pharma_ref_XLSX')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureFunction1')]",
				"[concat(variables('factoryId'), '/linkedServices/azure_Databricks_Job')]",
				"[concat(variables('factoryId'), '/datasets/google_xlsx_reimbcategory_binary')]",
				"[concat(variables('factoryId'), '/datasets/Binary_to_blob_reimbcategory_xlsx')]",
				"[concat(variables('factoryId'), '/linkedServices/ml_workspace_Service')]"
			]
		}
	]
}