myADF21032020/PartialArmTemplates/ArmTemplate_3_23_2020_15_1_14.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "myADF21032020"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dataforbetterhealth')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_SFTP_to_Blob_schema_parquet",
						"description": "copy data from the FTP server to BlobStorage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "account_yy_ss",
											"type": "Int32"
										},
										"sink": {
											"name": "account_yy_ss",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Province",
											"type": "String"
										},
										"sink": {
											"name": "province",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Type",
											"type": "String"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "hosp_serv_id",
											"type": "String"
										},
										"sink": {
											"name": "hosp_serv_id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "reimbt_cat_id",
											"type": "String"
										},
										"sink": {
											"name": "reimbt_cat_id",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "drug_code",
											"type": "String"
										},
										"sink": {
											"name": "drug_code",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "realization_date",
											"type": "String"
										},
										"sink": {
											"name": "realization_date",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "quantity",
											"type": "String"
										},
										"sink": {
											"name": "quantity",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "amount_reimb",
											"type": "Single"
										},
										"sink": {
											"name": "amount_reimb",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "amount_not_reimb",
											"type": "Single"
										},
										"sink": {
											"name": "amount_not_reimb",
											"type": "Single"
										}
									},
									{
										"source": {
											"name": "Year",
											"type": "Int32"
										},
										"sink": {
											"name": "year",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "delimitedText_docph_from_SFTP",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "azure_ADLS_Bronze_Parquet",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "copy_googleExcell_to_Blob",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "google_xlsx_pharma_ref_binary",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_to_blob_pharma_ref_XLSX",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "functionApp",
						"description": "",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "HttpTrigger1",
							"method": "POST",
							"body": {
								"name": "Kevin Albert"
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureFunction1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ETL_xlsx_to_parquet",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "copy_googleExcell_to_Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_googleXLS_reimbcat_to_Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_SFTP_to_Blob_schema_parquet",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "functionApp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/beire_@hotmail.com/bronze"
						},
						"linkedServiceName": {
							"referenceName": "azure_Databricks_Job",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "copy_googleXLS_reimbcat_to_Blob",
						"description": "",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "google_xlsx_reimbcategory_binary",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Binary_to_blob_reimbcategory_xlsx",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Send Success Email",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ETL_xlsx_to_parquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-118.westeurope.logic.azure.com:443/workflows/da9212a12e824a6897017f4aca62df07/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AquLYXQw5yo9Fe8OcPGytvWhbJpUxDJlQaWKGGDIqso",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "Pipeline finished !",
								"ErrorMessage": "The ADF pipeline has run successfully.",
								"EmailTo": "kevin.albert@atos.net"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/google_xlsx_reimbcategory_binary')]",
				"[concat(variables('factoryId'), '/datasets/Binary_to_blob_reimbcategory_xlsx')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary_to_blob_reimbcategory_xlsx')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "azure_ADLS_Gen2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "reimb_category.xlsx",
						"folderPath": "bronze",
						"fileSystem": "datalake"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/google_xlsx_reimbcategory_binary')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "googleDocs_URL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "/uc?export=download&id=1kO0yJ6QDVsQxOBeR_xDnw2VS28NnbNv2"
					}
				}
			},
			"dependsOn": []
		}
	]
}